<div class="page-header">
  <h1>Financial Overview</h1>
  <p>Monitor your unified ledger across different timeframes.</p>
</div>

<app-period-selector></app-period-selector>

<div *ngIf="transactionService.isLoading()" class="dashboard-loading">
  <div class="loader-dark"></div>
  <p>Calculating your financial health...</p>
</div>

<ng-container *ngIf="!transactionService.isLoading() && transactionService.summaryData() as summary">
  
  <div class="metrics-grid">
    
    <div class="metric-card primary-card">
      <div class="card-icon">💰</div>
      <div class="card-info">
        <span class="card-label">Net Balance</span>
        <h2 class="card-value">${{ summary.netBalance | number:'1.2-2' }}</h2>
      </div>
    </div>

    <div class="metric-card">
      <div class="card-icon cyan-icon">📈</div>
      <div class="card-info">
        <span class="card-label">Total Income</span>
        <h2 class="card-value text-green">${{ summary.totalIncome | number:'1.2-2' }}</h2>
      </div>
    </div>

    <div class="metric-card">
      <div class="card-icon red-icon">📉</div>
      <div class="card-info">
        <span class="card-label">Total Expenses</span>
        <h2 class="card-value text-red">${{ summary.totalExpense | number:'1.2-2' }}</h2>
      </div>
    </div>

  </div>

  <app-analytics-charts></app-analytics-charts>

</ng-container>